toolbar.default-color(
  title='Disciplina'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-type='text'
  right-button-text='Salvar'
  right-button-on-click-method='$ctrl.submitOutsideForm()'
)

md-content.page-disciplina-update(layout-padding)
  disciplina-update-form
