toolbar.default-color(
  title='Unidades'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-classes='md-icon-button'
  right-button-type='icon'
  right-button-icon='search'
  right-button-icon-style='fill: #fff'
  right-button-on-click-method='$ctrl.toggleFilterFormVisibility()'
)

md-content.page-read-unidade(layout-padding)
  div.filtros(
    layout-padding
    layout-gt-sm='row'
  )
    h2 Filtros
    md-input-container.md-block(flex-gt-sm)
      label Consultar por:
      md-select(ng-model='$ctrl.filterBySelected')
        md-option(ng-repeat='item in $ctrl.filterBy' value='{{item.key}}')
          | {{item.label}}
      .md-errors-spacer

    md-input-container.md-block(
      flex-gt-sm
      ng-show='$ctrl.filterBySelected === "universidade"'
    )
      label Campo:
      md-select(ng-model='$ctrl.filterBySelectedKeys')
        md-option(
          ng-repeat='universidade in $ctrl.filterByUniversidadeKeys'
          value='{{universidade.key}}'
        )
          | {{universidade.label}}
      .md-errors-spacer

    md-input-container.md-block(
      flex-gt-sm
      ng-show='$ctrl.filterBySelected === "unidade"'
    )
      label Campo:
      md-select(ng-model='$ctrl.filterBySelectedKeys')
        md-option(
          ng-repeat='unidade in $ctrl.filterByUnidadeKeys'
          value='{{unidade.key}}'
        )
          | {{unidade.label}}
      .md-errors-spacer

    md-input-container.md-block(flex-gt-sm)
      label Apelido/Abreviação
      input(ng-model='$ctrl.filterQuery')

    .actions(layout='row' layout-align='end center')
      md-button.md-raised.md-primary(ng-click='$ctrl.clearFilters()')
        | Limpar

  h2 Consulta
  .empty-message(ng-show='$ctrl.unidades.length === 0')
    ng-md-icon(class='md-avatar' size='50%' icon='place' style='fill: #ccc')
    div Não há unidades.

  md-card(ng-repeat='unidade in $ctrl.unidades')
    md-card-title
      md-card-title-media
        .md-media-lg.card-media(ng-show='{{unidade.universidade.logo !== null && unidade.universidade.abreviacao !== "USJT"}}')
          | {{unidade.universidade.abreviacao | limitTo: 1: 0}}
        img(
          ng-src='{{$ctrl.temporaryUsjtLogoImage}}'
          ng-show='{{unidade.universidade.logo === null || unidade.universidade.abreviacao === "USJT"}}'
        )
      md-card-title-text
        span.md-headline {{unidade.nome}}
        span.md-subhead {{unidade.universidade.nome}}
        .actions(layout='row')
          md-button(
            ng-href='{{"/#/unidade/update/" + unidade.codigo}}'
            aria-label='{{"Alterar " + unidade.nome}}'
          ) detalhes
