toolbar.default-color(
  title='Cursos'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-type='text'
  right-button-text='Salvar'
  right-button-on-click-method='$ctrl.submitGoBack()'
)

md-content.page-create-universidade(layout-padding)
  h2 Cadastro
  form(name='createCurso' layout-padding ng-submit='$ctrl.submit()')
    div(layout-gt-sm='row')
      pre createCurso.$error = {{ createCurso.$error | json }}
      pre createCurso.$invalid = {{ createCurso.$invalid | json }}

      //- campo de combobox universidade
      md-input-container.md-block.md-input-invalid(flex-gt-sm)
        label Universidade
        md-select(
          ng-model='$ctrl.cursoForm.currentUniversidade'
          ng-disabled='$ctrl.hasUniversidadeId'
          name='universidade'
          required
        )
          md-option(
            ng-repeat='(index, universidade) in $ctrl.universidades'
            ng-value='universidade'
            ng-selected='index === $ctrl.universidadeCurrentIndex'
          )
            | {{universidade.nome}}
        .md-errors-spacer
        div(ng-messages='createCurso.universidade.$error')
          div(ng-message='required')
            | This is required.
      //-  fim declaracao campo de universidade

      //- campo de unidade
      md-input-container.md-block(flex-gt-sm)
        label Unidade
        md-select(
          ng-model='$ctrl.cursoForm.unidade'
          ng-disabled='$ctrl.hasUnidadeId'
          name='unidade'
          required
        )
          md-option(
            ng-repeat='(index, unidade) in $ctrl.cursoForm.unidades'
            ng-value='unidade'
            ng-selected='index === $ctrl.unidadeCurrentIndex'
          )
            | {{unidade.nome}}
        .md-errors-spacer
        div(ng-messages='createCurso.unidade.$error')
          div(ng-message='required')
            | This is required.


      //-  fim declaracao campo de unidade

      //- campo de abrevicao
      md-input-container.md-block(flex-gt-sm)
        label Apelido/Abreviação
        input(
          md-minlength='5'
          required=''
          name='abreviacao'
          ng-model='$ctrl.cursoForm.abreviacao'
        )
        div(ng-messages='createCurso.abreviacao.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.
      //-  fim declaracao campo de abreviadao

      //- campo de nome
      md-input-container.md-block(flex-gt-sm)
        label Nome do curso
        input(
          md-minlength='5'
          required=''
          name='nome'
          ng-model='$ctrl.cursoForm.nome'
        )
        div(ng-messages='createCurso.abreviacao.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.
      //-  fim declaracao campo de nome

      //- campo de nome
      md-input-container.md-block(flex-gt-sm)
        label Outras informações
        input(
          md-minlength='5'
          required=''
          name='outrasInformacoes'
          ng-model='$ctrl.cursoForm.outrasInformacoes'
        )
        div(ng-messages='createCurso.abreviacao.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.
      //-  fim declaracao campo de nome

      md-input-container.md-block
        md-button.md-raised.submit-btn(
          type='submit'
          layout='row'
          layout-align='center center'
        ) Próximo
          ng-md-icon(
            layout='row'
            layout-align='center center'
            md-menu-origin='',
            icon='keyboard_arrow_right',
            style='fill: #fff',
            aria-label='Próximo'
            ng-disabled='createCurso.$invalid'
          )
