h2.aa Cadastro
form(name='create' layout-padding ng-submit='$ctrl.parent.submit()')
  div(layout-gt-sm='row')
    md-input-container.md-block(flex-gt-sm)
      label Apelido/Abreviação
      input(
        md-minlength='5'
        required=''
        name='abreviacao'
        ng-model='$ctrl.parent.universidadeForm.abreviacao'
      )
      div(ng-messages='create.abreviacao.$error')
        div(ng-message='required')
          | This is required.
        div(ng-message='md-maxlength')
          | The name has to be less than 30 characters long.

    md-input-container.md-block(flex-gt-sm)
      label Nome da universidades
      input(required='', name='nome', ng-model='$ctrl.parent.universidadeForm.nome')
      div(ng-messages='create.nome.$error')
        div(ng-message='required') This is required.

    md-input-container.md-block(flex-gt-sm)
      label Site
      input(name='site', ng-model='$ctrl.parent.universidadeForm.site')

    md-input-container.md-block(flex-gt-sm)
      label Logo
      input(name='logo', ng-model='$ctrl.parent.universidadeForm.logo')

    md-input-container.md-block
      md-button.md-raised.md-primary.btn-row(
        type='submit'
        layout='row'
        layout-align='center center'
        ng-disabled='$ctrl.$scope.create.$invalid'
      ) Cadastrar unidade
        ng-md-icon(
          layout='row'
          layout-align='center center'
          md-menu-origin='',
          icon='keyboard_arrow_right',
          style='fill: #fff',
          aria-label='Cadastrar unidade'
        )
