toolbar.default-color(
  title='Cursos'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-classes='md-icon-button'
  right-button-type='icon'
  right-button-icon='filter_list'
  right-button-icon-style='fill: #fff'
  right-button-on-click-method='$ctrl.toggleFilterFormVisibility()'
)

curso-read-add-fab

md-content.page-curso-read(layout-padding)
  curso-read-filter
  curso-read-cards
