section.calendar-viewoptions(layout='row' layout-align='space-between center')
  md-button(
    layout='column'
    class='md-raised'
    ng-class='$ctrl.getCssActiveCalendarViewType("year")'
    ng-click='$ctrl.changeCalendarView("year")') Ano
  md-button(
    layout='column'
    class='md-raised'
    ng-class='$ctrl.getCssActiveCalendarViewType("month")'
    ng-click='$ctrl.changeCalendarView("month")') Mês
  md-button(
    layout='column'
    class='md-raised'
    ng-class='$ctrl.getCssActiveCalendarViewType("week")'
    ng-click='$ctrl.changeCalendarView("week")') Semana
