toolbar.default-color(
  title='Unidades',
  left-icon='arrow_back',
  on-click-method='back'
  right-button-enable='true'
  right-button-text='Salvar'
)

md-content.page-cadastro-unidades(layout-padding)
  h2 Cadastro
  form(name='cadastroUnidades' layout-padding ng-submit='$ctrl.submit()')
    div(layout-gt-sm='row')
      md-input-container.md-block(flex-gt-sm)
        label Apelido/Abreviação
        input(
          md-minlength='5'
          required=''
          name='abreviacao'
          ng-model='$ctrl.unidadeForm.abreviacao'
        )
        div(ng-messages='cadastroUnidades.abreviacao.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.

      md-input-container.md-block(flex-gt-sm)
        label Nome da universidades
        input(required='', name='nome', ng-model='$ctrl.unidadeForm.nome')
        div(ng-messages='cadastroUnidades.nome.$error')
          div(ng-message='required') This is required.

      md-input-container.md-block(flex-gt-sm)
        label Site
        input(required='', name='site', ng-model='$ctrl.unidadeForm.site')

      md-input-container.md-block(flex-gt-sm)
        label Logo
        input(name='logo', ng-model='$ctrl.unidadeForm.logo')

      md-input-container.md-block
        md-button.md-raised.submit-btn(
          type='submit'
          layout='row'
          layout-align='center center'
        ) Próximo
          ng-md-icon(
            layout='row'
            layout-align='center center'
            md-menu-origin='',
            icon='keyboard_arrow_right',
            style='fill: #fff',
            aria-label='Próximo'
          )
