h2 Alterar
form(name='updateUniversidade' layout-padding ng-submit='$ctrl.parent.submit()')
  input(type='hidden' name='codigo' ng-model='$ctrl.parent.universidadeForm.codigo')
  div(layout-gt-sm='row')
    md-input-container.md-block(flex-gt-sm)
      label Apelido/Abreviação
      input(
        md-minlength='5'
        required=''
        name='abreviacao'
        ng-model='$ctrl.parent.universidadeForm.abreviacao'
      )
      div(ng-messages='updateUniversidade.abreviacao.$error')
        div(ng-message='required')
          | This is required.
        div(ng-message='md-maxlength')
          | The name has to be less than 30 characters long.

    md-input-container.md-block(flex-gt-sm)
      label Nome da universidades
      input(required='', name='nome', ng-model='$ctrl.parent.universidadeForm.nome')
      div(ng-messages='updateUniversidade.nome.$error')
        div(ng-message='required') This is required.

    md-input-container.md-block(flex-gt-sm)
      label Site
      input(required='', name='site', ng-model='$ctrl.parent.universidadeForm.site')

    md-input-container.md-block(flex-gt-sm)
      label Logo
      input(name='logo', ng-model='$ctrl.parent.universidadeForm.logo')

    md-input-container.md-block(flex-gt-sm)
      md-button.md-raised.delete-btn(
        ng-click='$ctrl.delete()'
        aria-label='Deletar'
      ) Deletar

    md-input-container.md-block
      md-button.hide(name='submitForm' type='submit' aria-label='Enviar formulário')
