toolbar.default-color(
  title='Cadastre-se',
  left-icon='arrow_back',
  on-click-method='back'
)

md-content
  md-header(layout-padding)
    form(name='projectForm' layout-padding)
      div(layout-gt-sm='row')
        md-input-container.md-block(flex-gt-sm)
          label Login
          input(md-minlength='5', required='', name='description', ng-model='project.description')
          div(ng-messages='projectForm.description.$error')
            div(ng-message='required') This is required.
            div(ng-message='md-maxlength') The name has to be less than 30 characters long.

        md-input-container.md-block(flex-gt-sm)
          label Senha
          input(required='', name='clientName', ng-model='project.clientName', type='password')
          div(ng-messages='projectForm.clientName.$error')
            div(ng-message='required') This is required.

        md-input-container.md-block(flex-gt-sm)
          label Confirmar senha
          input(required='', name='clientName', ng-model='project.clientName', type='password')
          div(ng-messages='projectForm.clientName.$error')
            div(ng-message='required') This is required.

        md-button(
          layout='row'
          layout-align='center center'
          class='md-raised splash-signup-btn'
          ng-href='/#/welcome'
        ) Logar
