section.calendar-navigation(layout='row' layout-align='center center')
  md-button.md-icon-button(
    layout='column'
    mwl-date-modifier
    date="$ctrl.parent.calendarDate"
    decrement="$ctrl.parent.calendarView"
    layout-align='center center')
    ng-md-icon(
      layout='column'
      icon='keyboard_arrow_left'
      style='fill: #607d8b'
      aria-label='Mês anterior'
    )
  md-button.md-icon-button(
    layout='column'
    mwl-date-modifier
    date='$ctrl.parent.calendarDate'
    set-to-today
    layout-align='center center')
    ng-md-icon(
      layout='column'
      icon='panorama_fisheye'
      style='fill: #607d8b'
      aria-label='Hoje'
    )
  md-button.md-icon-button(
    layout='column'
    mwl-date-modifier
    date='$ctrl.parent.calendarDate'
    increment='$ctrl.parent.calendarView'
    layout-align='center center')
    ng-md-icon(
      layout='column'
      icon='keyboard_arrow_right'
      style='fill: #607d8b'
      aria-label='Próximo mês'
    )
