h2.aa Alterar curso
form(name='update' layout-padding ng-submit='$ctrl.parent.submit()')
  input(
    type='hidden'
    name='id'
    ng-model='$ctrl.parent.form.id'
  )

  div(layout-gt-sm='row')

    //-//
    //- Universidade
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Universidade
      md-select(
        name='idUniversidade'
        ng-model='$ctrl.parent.form.universidade'
        required
      )
        md-option(
          ng-repeat='(index, universidade) in $ctrl.parent.universidades'
          ng-value='universidade'
          ng-selected='index === $ctrl.parent.universidadeSelectedIndex'
        )
          | {{universidade.nome}}
      .md-errors-spacer
      div(ng-messages='update.idUniversidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Unidade
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Unidade
      md-select(
        name='idUnidade'
        ng-model='$ctrl.parent.form.unidade'
        required
      )
        md-option(
          ng-repeat='(index, unidade) in $ctrl.parent.unidades'
          ng-value='unidade'
          ng-selected='index === $ctrl.parent.unidadeSelectedIndex'
        )
          | {{unidade.nome}}
      .md-errors-spacer
      div(ng-messages='update.idUnidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Abreviação do nome do curso
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Abreviação/Apelido
      input(
        md-minlength='5'
        required=''
        name='abreviacao'
        ng-model='$ctrl.parent.form.abreviacao'
      )
      div(ng-messages='update.abreviacao.$error')
        div(ng-message='required')
          | This is required.
        div(ng-message='md-maxlength')
          | The name has to be less than 30 characters long.

    //-//
    //- Nome do curso
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Nome do curso
      input(
        md-minlength='5'
        required=''
        name='nome'
        ng-model='$ctrl.parent.form.nome'
      )
      div(ng-messages='update.nome.$error')
        div(ng-message='required')
          | This is required.
        div(ng-message='md-maxlength')
          | The name has to be less than 30 characters long.

    //-//
    //- Outras informações do curso
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Outras informações
      input(
        name='outrasInformacoes'
        ng-model='$ctrl.parent.form.outrasInformacoes'
      )

    //-//
    //- Delete Button
    //-//
    md-input-container.md-block(flex-gt-sm)
      md-button.md-raised.delete-btn(
        ng-click='$ctrl.delete()'
        aria-label='Deletar'
      ) Deletar

    //-//
    //- Form Submit Hidden Button
    //-//
    md-input-container.md-block
      md-button.hide(
        name='submitForm'
        type='submit'
        aria-label='Enviar formulário'
      )

    md-input-container.md-block
      md-button.md-raised.md-primary.btn-row(
    type='md-button'
    layout='row'
    layout-align='center center'
    ng-click="$ctrl.openRepresentante()"
  ) Representantes
    ng-md-icon(
      layout='row'
      layout-align='center center'
      md-menu-origin='',
      icon='keyboard_arrow_right',
      style='fill: #fff',
      aria-label='Representantes'
    )
