toolbar.default-color(
  title='Calendário',
  left-icon='menu',
  on-click-method='toggleLeftSidenav'
  right-menu='true'
)

calendar-add-events-fab
calendar-view-options-fab

md-content.page-calendar
  section(layout-padding)
    .calendar-date {{$ctrl.calendarDate | date: 'MM/yyyy': '-0300'}}

    header
      calendar-navigation


    article
      mwl-calendar(
        view='$ctrl.calendarView',
        view-date='$ctrl.calendarDate',
        events='$ctrl.events',
        edit-event-html="'<i class=\"glyphicon glyphicon-pencil\"></i>'",
        cell-is-open="true"
      )

    footer
      calendar-navigation

