toolbar.default-color(
  title='Alterar Cadastro',
  left-icon='arrow_back',
  on-click-method='back',
  right-menu='false'
)

md-content
  form(name='projectForm' layout-padding ng-submit='$ctrl.submit()')
    div(layout-gt-sm='row')
      md-input-container.md-block(flex-gt-sm)
        label Nome
        input(md-minlength='5', required='', name='nome', ng-model='$ctrl.nome', autofocus)
        div(ng-messages='projectForm.nome.$error')
          div(ng-message='required') This is required.
          div(ng-message='md-maxlength') The name has to be less than 30 characters long.

      md-input-container.md-block(flex-gt-sm)
        label Celular
        input(required='', name='celular', ng-model='$ctrl.celular', mask='(99) 9?9999-9999')
        div(ng-messages='projectForm.celular.$error')
          div(ng-message='required') This is required.

      md-input-container.md-block(flex-gt-sm)
        label Email
        input(required='', name='email', ng-model='$ctrl.email', type='email')
        div(ng-messages='projectForm.email.$error', ng-show='projectForm.email.$touched')
          div(ng-message='required') This is required.
          div(ng-message='email') Formato de email inválido.

      md-input-container.md-block(flex-gt-sm)
        label Login
        input(required='', name='login', ng-model='$ctrl.login')
        div(ng-messages='projectForm.login.$error')
          div(ng-message='required') This is required.

      md-input-container.md-block(flex-gt-sm)
        label Senha
        input(required='', name='senha', ng-model='$ctrl.senha', type='password')
        div(ng-messages='projectForm.senha.$error')
          div(ng-message='required') This is required.

      md-input-container.md-block(flex-gt-sm)
        label Confirmar senha
        input(
          required=''
          name='confirmarSenha'
          ng-model='$ctrl.confirmarSenha'
          type='password'
          validate-password-confirmation="{{$ctrl.senha}}"
        )
        div(ng-messages='projectForm.confirmarSenha.$error', ng-show='projectForm.confirmarSenha.$touched')
          div(ng-message='required') This is required.
          div(ng-message='validatePasswordConfirmation') Uppercase.

      md-input-container.md-block(flex-gt-sm)
        md-button.md-raised.submit-btn(
          type='submit'
        ) Salvar

      md-input-container.md-block(flex-gt-sm)
        md-button.md-raised.delete-btn(ng-click='$ctrl.delete()') Excluir
