md-fab-speed-dial.page-curso-read-fabs.md-scale.md-fab-bottom-right(
  style='position: fixed'
)
  md-fab-trigger
    md-button.md-fab.md-raised(
      aria-label='Cadastrar evento'
      ng-href='/#/evento/create'
    )
      ng-md-icon(
        md-menu-align-target=''
        icon='add'
      )
