h2.aa Cadastro

form.page-evento-create(name='create' layout-padding ng-submit='$ctrl.parent.submit()')
  div(layout-gt-sm='row')

    //-//
    //- Universidade
    //-//
    .empty-message(ng-show='!$ctrl.hasUniversidades')
      ng-md-icon(class='md-avatar' size='10%' icon='account_balance' style='fill: #ccc')
      div Nenhuma universidade cadastrada.
      md-button.md-raised.md-primary( ng-click='$ctrl.getUniversidadeCreateRedirect()' )
        | Cadastrar

    md-input-container.md-block.md-input-invalid(flex-gt-sm ng-show='$ctrl.hasUniversidades')
      label Universidade
      md-select(
        name='idUniversidade'
        ng-model='$ctrl.parent.form.universidade'
        ng-disabled='$ctrl.hasUniversidadeId'
        required
      )
        md-option(
          ng-repeat='(index, universidade) in $ctrl.universidades'
          ng-value='universidade'
          ng-selected='index === $ctrl.currentUniversidadeIndex'
        )
          | {{universidade.nome}}
      .md-errors-spacer
      div(ng-messages='create.idUniversidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Unidade
    //-//
    .empty-message(ng-show='!$ctrl.hasUnidades && $ctrl.parent.form.universidade !== undefined')
      ng-md-icon(class='md-avatar' size='10%' icon='location_on' style='fill: #ccc')
      div Nenhuma unidade cadastrada.
      md-button.md-raised.md-primary(ng-click='$ctrl.getUnidadeCreateRedirect()')
        | Cadastrar

    md-input-container.md-block.md-input-invalid(flex-gt-sm ng-show='$ctrl.hasUnidades')
      label Unidade
      md-select(
        name='idUnidade'
        ng-model='$ctrl.parent.form.unidade'
        ng-disabled='$ctrl.hasUnidadeId'
        required
      )
        md-option(
          ng-repeat='(index, unidade) in $ctrl.unidades'
          ng-value='unidade'
          ng-selected='index === $ctrl.currentUnidadeIndex'
        )
          | {{unidade.nome}}
      .md-errors-spacer
      div(ng-messages='create.idUnidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Curso
    //-//
    .empty-message(ng-show='!$ctrl.hasCursos && $ctrl.parent.form.unidade !== undefined')
      ng-md-icon(class='md-avatar' size='10%' icon='school' style='fill: #ccc')
      div Nenhum curso cadastrado.
      md-button.md-raised.md-primary(ng-click='$ctrl.getCursoCreateRedirect()')
        | Cadastrar

    md-input-container.md-block.md-input-invalid(flex-gt-sm ng-show='$ctrl.hasCursos')
      label Curso
      md-select(
        name='idCurso'
        ng-model='$ctrl.parent.form.curso'
        ng-disabled='$ctrl.hasCursoId'
        required
      )
        md-option(
          ng-repeat='(index, curso) in $ctrl.cursos'
          ng-value='curso'
          ng-selected='index === $ctrl.currentCursoIndex'
        )
          | {{curso.nome}}
      .md-errors-spacer
      div(ng-messages='create.idCurso.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Turma
    //-//
    .empty-message(ng-show='!$ctrl.hasTurmas && $ctrl.parent.form.curso !== undefined')
      ng-md-icon(class='md-avatar' size='10%' icon='insert_emoticon' style='fill: #ccc')
      div Nenhuma turma cadastrada.
      md-button.md-raised.md-primary(ng-click='$ctrl.getTurmaCreateRedirect()')
        | Cadastrar

    md-input-container.md-block.md-input-invalid(flex-gt-sm ng-show='$ctrl.hasTurmas')
      label Turma
      md-select(
        name='idTurma'
        ng-model='$ctrl.parent.form.turma'
        ng-disabled='$ctrl.hasTurmaId'
        required
      )
        md-option(
          ng-repeat='(index, turma) in $ctrl.turmas'
          ng-value='turma'
          ng-selected='index === $ctrl.currentTurmaIndex'
        )
          | {{turma.nome}}
      .md-errors-spacer
      div(ng-messages='create.idTurma.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Disciplina
    //-//
    .empty-message(ng-show='!$ctrl.hasDisciplinas && $ctrl.parent.form.turma !== undefined')
      ng-md-icon(class='md-avatar' size='10%' icon='brush' style='fill: #ccc')
      div Nenhuma disciplina cadastrada.
      md-button.md-raised.md-primary(ng-click='$ctrl.getDisciplinaCreateRedirect()')
        | Cadastrar

    md-input-container.md-block.md-input-invalid(flex-gt-sm ng-show='$ctrl.hasDisciplinas')
      label Disciplina
      md-select(
        name='idDisciplina'
        ng-model='$ctrl.parent.form.disciplina'
        ng-disabled='$ctrl.hasDisciplinaId'
        required
      )
        md-option(
          ng-repeat='(index, disciplina) in $ctrl.disciplinas'
          ng-value='disciplina'
          ng-selected='index === $ctrl.currentDisciplinaIndex'
        )
          | {{disciplina.nome}}
      .md-errors-spacer
      div(ng-messages='create.idDisciplina.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Tipo de Evento
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Tipo
      md-select(name='tipo' ng-model='$ctrl.parent.form.tipo' required)
        md-option(ng-repeat='(index, tipo) in $ctrl.tipos' ng-value='tipo') {{tipo}}
      .md-errors-spacer
      div(ng-messages='create.tipo.$error')
        div(ng-message='required') This is required.

    //-//
    //- Título
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Título
      input(
        md-minlength='5'
        md-maxlength="100"
        required=''
        name='titulo'
        ng-model='$ctrl.parent.form.titulo'
      )
      div(ng-messages='create.titulo.$error')
        div(ng-message='required') This is required.
        div(ng-message='md-maxlength') The name has to be less than 30 characters long.

    //-//
    //- Descrição
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Descrição
      textarea(
        ng-model='$ctrl.parent.form.descricao'
        md-maxlength='500'
        rows='3'
        md-select-on-focus
      )
      div(ng-messages='create.descricao.$error')
        div(ng-message='required') This is required.
        div(ng-message='md-maxlength') The name has to be less than 30 characters long.

    //-//
    //- Data início
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Data Início
      md-datepicker(
        name='dataInicio'
        ng-model='$ctrl.parent.form.dataInicio'
        md-open-on-focus
        required
      )
      div(ng-messages='create.dataInicio.$error')
        div(ng-message='valid') The entered value is not a date!
        div(ng-message='required') This date is required!

    //-//
    //- Data fim
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Data Fim
      md-datepicker(
        name='dataFim'
        ng-model='$ctrl.parent.form.dataFim'
        md-open-on-focus
        md-min-date='$ctrl.parent.form.dataInicio'
        required
      )
      div(ng-messages='create.dataFim.$error')
        div(ng-message='valid') The entered value is not a date!
        div(ng-message='required') This date is required!

    div(layout='row')
      //-//
      //- Hora início
      //-//
      md-input-container.md-block(flex='50')
        label Hora início
        input(
          md-minlength='5'
          required=''
          type='time'
          name='horaInicio'
          ng-model='$ctrl.parent.form.horaInicio'
        )
        div(ng-messages='create.horaInicio.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.

      //-//
      //- Hora fim
      //-//
      md-input-container.md-block(flex='50')
        label Hora fim
        input(
          md-minlength='5'
          required=''
          type='time'
          name='horaFim'
          ng-model='$ctrl.parent.form.horaFim'
        )
        div(ng-messages='create.horaFim.$error')
          div(ng-message='required')
            | This is required.
          div(ng-message='md-maxlength')
            | The name has to be less than 30 characters long.

    //-//
    //- Save Button
    //-//
    md-input-container.md-block
      md-button.md-raised.md-primary.btn-row(
        type='submit'
        layout='row'
        layout-align='center center'
        ng-disabled='$ctrl.$scope.create.$invalid'
      )
        span Salvar
