  h2.aa Alterar
form(name='update' layout-padding ng-submit='$ctrl.parent.submit()')
  input(
    type='hidden'
    name='id'
    ng-model='$ctrl.parent.form.id'
  )

  div(layout-gt-sm='row')

    //-//
    //- Universidade
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Universidade
      md-select(
        name='idUniversidade'
        ng-model='$ctrl.parent.form.universidade'
        required
      )
        md-option(
          ng-repeat='(index, universidade) in $ctrl.parent.universidades'
          ng-value='universidade'
          ng-selected='index === $ctrl.parent.universidadeSelectedIndex'
        )
          | {{universidade.nome}}
      .md-errors-spacer
      div(ng-messages='update.idUniversidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Unidade
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Unidade
      md-select(
        name='idUnidade'
        ng-model='$ctrl.parent.form.unidade'
        required
      )
        md-option(
          ng-repeat='(index, unidade) in $ctrl.parent.unidades'
          ng-value='unidade'
          ng-selected='index === $ctrl.parent.unidadeSelectedIndex'
        )
          | {{unidade.nome}}
      .md-errors-spacer
      div(ng-messages='update.idUnidade.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Curso
    //-//
    md-input-container.md-block.md-input-invalid(flex-gt-sm)
      label Curso
      md-select(
        name='idCurso'
        ng-model='$ctrl.parent.form.curso'
        required
      )
        md-option(
          ng-repeat='(index, curso) in $ctrl.parent.cursos'
          ng-value='curso'
          ng-selected='index === $ctrl.parent.cursoSelectedIndex'
        )
          | {{curso.nome}}
      .md-errors-spacer
      div(ng-messages='update.idCurso.$error')
        div(ng-message='required')
          | This is required.

    //-//
    //- Nome da turma
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Nome da turma
      input(
        md-minlength='5'
        required=''
        name='nome'
        ng-model='$ctrl.parent.form.nome'
      )
      div(ng-messages='update.nome.$error')
        div(ng-message='required')
          | This is required.
        div(ng-message='md-maxlength')
          | The name has to be less than 30 characters long.

    //-//
    //- Outras informações da turma
    //-//
    md-input-container.md-block(flex-gt-sm)
      label Outras informações
      input(
        name='outrasInformacoes'
        ng-model='$ctrl.parent.form.outrasInformacoes'
      )

    //-//
    //- Delete Button
    //-//
    md-input-container.md-block(flex-gt-sm)
      md-button.md-raised.delete-btn(
        ng-click='$ctrl.delete()'
        aria-label='Deletar'
      ) Deletar

    //-//
    //- Form Submit Hidden Button
    //-//
    md-input-container.md-block
      md-button.hide(
        name='submitForm'
        type='submit'
        aria-label='Enviar formulário'
      )
