toolbar.default-color(
  title='Agenda Acadêmica',
  left-icon='menu',
  on-click-method='toggleLeftSidenav'
  right-menu='true'
)

md-fab-speed-dial.md-scale.md-fab-bottom-right(
  ng-hide='demo.hidden'
  md-direction='up'
  md-open='$ctrl.isAddFabOpen'
  ng-class="{ 'md-hover-full': demo.hover }"
  ng-mouseenter='$ctrl.isAddFabOpen=true'
  ng-mouseleave='$ctrl.isAddFabOpen=false'
  style='position: fixed'
)
  md-fab-trigger
    md-button.md-fab.md-raised(aria-label='add')
      ng-md-icon(md-menu-align-target='' icon='add' aria-label='add')

  md-fab-actions
    md-button.md-fab.md-raised.md-mini.default-color(aria-label='Evento')
      md-tooltip(md-direction='left' md-visible='$ctrl.addTooltipVisible' md-autohide='false') Evento
      ng-md-icon(md-menu-align-target='' icon='event' aria-label='event')

md-fab-speed-dial.md-scale.md-fab-bottom-left(
  md-direction='up'
  md-open='$ctrl.isViewFabOpen'
  ng-mouseenter='$ctrl.isViewFabOpen=true'
  ng-mouseleave='$ctrl.isViewFabOpen=false'
  style='position: fixed'
)
  md-fab-trigger
    md-button.md-fab.md-raised(aria-label='Calendar View')
      ng-md-icon(md-menu-align-target='' icon='visibility' aria-label='Calendar View')

  md-fab-actions
    md-button.md-fab.md-raised.md-mini.default-color(
      aria-label='Semana'
      ng-class='$ctrl.getCssActiveCalendarViewType("week")'
      ng-click='$ctrl.changeCalendarView("week")'
    )
      md-tooltip(md-direction='right' md-visible='$ctrl.viewTooltipVisible' md-autohide='false') Semana
      span S
    md-button.md-fab.md-raised.md-mini.default-color(
      aria-label='Mês'
      ng-class='$ctrl.getCssActiveCalendarViewType("month")'
      ng-click='$ctrl.changeCalendarView("month")'
    )
      md-tooltip(md-direction='right' md-visible='$ctrl.viewTooltipVisible' md-autohide='false') Mês
      span M
    md-button.md-fab.md-raised.md-mini.default-color(
      aria-label='Ano'
      ng-class='$ctrl.getCssActiveCalendarViewType("year")'
      ng-click='$ctrl.changeCalendarView("year")'
    )
      md-tooltip(md-direction='right' md-visible='$ctrl.viewTooltipVisible' md-autohide='false') Ano
      span A

md-content.page-index
  section(layout-padding)
    .calendar-date {{$ctrl.calendarDate | date: 'MM/yyyy': '-0300'}}

    header
      include ./calendar-navigation.partial.jade

    article
      mwl-calendar(
        view='$ctrl.calendarView',
        view-date='$ctrl.calendarDate',
        events='$ctrl.events',
        view-title='$ctrl.calendarTitle',
        edit-event-html="'<i class=\"glyphicon glyphicon-pencil\"></i>'",
        cell-is-open="true"
      )

    footer
      include ./calendar-navigation.partial.jade
