toolbar.default-color(
  title='Universidades'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-classes='md-icon-button'
  right-button-type='icon'
  right-button-icon='search'
  right-button-icon-style='fill: #fff'
  right-button-on-click-method='$ctrl.toggleSearchFormVisibility()'
)

md-content.page-read-universidade(layout-padding)
  div.filtros(
    layout-padding
    layout-gt-sm='row'
    ng-show='$ctrl.searchFormVisibility'
  )
    h2 Filtros
    md-input-container.md-block(flex-gt-sm)
      label Consultar por:
      md-select(ng-model='$ctrl.searchKey')
        md-option(ng-repeat='item in $ctrl.searchKeys' value='{{item.key}}')
          | {{item.label}}
      .md-errors-spacer

    md-input-container.md-block(flex-gt-sm)
      label Apelido/Abreviação
      input(ng-model='$ctrl.searchQuery')

    .actions(layout='row' layout-align='end center')
      md-button.md-raised.md-primary(ng-click='$ctrl.clearSearchFilters()')
        | Limpar

  h2 Consulta
  .empty-message(ng-show='$ctrl.universidades.length === 0')
    ng-md-icon(class='md-avatar' size='50%' icon='account_balance' style='fill: #ccc')
    div Nenhuma universidade cadastrada.

  md-card(ng-repeat='universidade in $ctrl.universidades')
    md-card-title
      md-card-title-media
        .md-media-lg.card-media(ng-show='{{universidade.logo !== null && universidade.abreviacao !== "USJT"}}')
          | {{universidade.abreviacao | limitTo: 1: 0}}
        img(
          ng-src='{{$ctrl.temporaryUsjtLogoImage}}'
          ng-show='{{universidade.logo === null || universidade.abreviacao === "USJT"}}'
        )
      md-card-title-text
        span.md-headline {{universidade.abreviacao}}
        span.md-subhead {{universidade.nome}}
        .actions(layout='row')
          md-button(
            ng-href='{{"/#/universidade/update/" + universidade.codigo}}'
            aria-label='{{"Alterar " + universidade.nome}}'
          ) detalhes
