toolbar.default-color(
  title='Universidades'
  left-icon='menu'
  on-click-method='toggleLeftSidenav'
  right-button-enable='true'
  right-button-type='text'
  right-button-text='Salvar'
  right-button-on-click-method='$ctrl.submitOutsideForm()'
)

md-content.page-update-universidade(layout-padding)
  universidade-update-form
